<a href="/weathermoscow/watchyear/?year=2010" style="background-color:green" class="btn" role="button">Посмотреть погоду за 2010 год</a></th>
<a href="/weathermoscow/watchyear/?year=2011" style="background-color:green" class="btn" role="button">Посмотреть погоду за 2011 год</a></th>
