<a href="/weathermoscow/foryears" style="background-color:green" class="btn" role="button">Посмотреть погоду по годам</a></th>
<a href="/weathermoscow/formonths" style="background-color:green" class="btn" role="button">Погоду по месяцам</a></th>
