<a href="/archiveupload/index" style="background-color:green" class="btn" role="button">Загрузка архивов</a></th>
<a href="/weathermoscow/index" style="background-color:green" class="btn" role="button">Просмотр погоды в Москве</a></th>